/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.navbar {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-origin: padding-box;
  background-position: 0%;
  background-size: auto;
  box-shadow: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  content: "";
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 80px;
  left: 0px;
  line-break: strict;
  line-height: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  transform: none;
  transform-origin: 1057.22px 0px;
  transition-delay: 0s, 0s;
  transition-duration: 0.25s, 0.25s;
  transition-property: transform, opacity;
  transition-timing-function: ease, ease;
  width: 100%;
  z-index: 0;
  max-width: none;
}

.titlebar {
  align-items: stretch;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  flex-wrap: wrap;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 85.9722px;
  justify-content: flex-start;
  line-break: strict;
  line-height: 20px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: none;
  padding-left: 80px;
  padding-right: 80px;
  text-size-adjust: 100%;
  width: 100%;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  -webkit-font-smoothing: antialiased;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.chaircover {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  /* justify-content: flex-start; */
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  /* text-align: center; */
  color: #222222;
}

.pink {
  color: rgb(255, 56, 92);
}

.chaircoverLogo {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: #222222;
  font-weight: 600;
}
.chaircoverDescription {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.amenities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.reservations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.map {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.things {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 1.2em;
  background-color: #fbf9f9;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}
