.titlebar {
  align-items: stretch;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  flex-wrap: wrap;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 21px;
  font-weight: 500;
  height: 85px;
  justify-content: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}


.host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 1.2em;
  background-color: #fbf9f9;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}
