/* .calendar-component {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 529px;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  width: auto;
  -webkit-font-smoothing: antialiased;
  border: 2px solid red;
}

.calendar-component::before {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  content: "";
  display: flex;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 0px;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.group-section {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 529px;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.top-border {
  border-top-color: rgb(221, 221, 221);
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 1px;
  line-break: strict;
  line-height: 20px;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.inner-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  padding-bottom: 48px;
  padding-top: 48px;
  text-size-adjust: 100%;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.inline-availability-calendar {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.header-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  padding-bottom: 0px;
  text-size-adjust: 100%;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.nights-location-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 22px;
  font-weight: 600;
  height: auto;
  line-break: strict;
  line-height: 26px;
  text-size-adjust: 100%;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.nights-location-section {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 22px;
  font-weight: 600;
  height: auto;
  line-break: strict;
  line-height: 26px;
  text-size-adjust: 100%;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.nights-location-text {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 22px;
  font-weight: 600;
  height: auto;
  line-break: strict;
  line-height: 26px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.date-range-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 18px;
  padding-top: 8px;
  text-size-adjust: 100%;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.date-range {
  box-sizing: border-box;
  color: rgb(113, 113, 113);
  display: -webkit-box;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  line-break: strict;
  line-height: 18px;
  overflow-x: clip;
  overflow-y: clip;
  text-overflow: ellipsis;
  text-size-adjust: 100%;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-font-smoothing: antialiased;
  -webkit-line-clamp: 2;
}

.calendars-container-1 {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 347px;
  line-break: strict;
  line-height: 20px;
  margin-left: 0px;
  margin-right: 0px;
  overflow-x: visible;
  overflow-y: visible;
  text-size-adjust: 100%;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.calendars-container-2 {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  margin-left: -24px;
  margin-right: 0px;
  margin-top: -12px;
  position: relative;
  text-size-adjust: 100%;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-font-smoothing: antialiased;
}

.calendars-container-3 {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  min-height: 324px;
  text-size-adjust: 100%;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.calendars-container-4 {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.calendars-container-5 {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  position: relative;
  text-align: left;
  width: 675px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.calendars-container-6 {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  text-align: left;
  text-size-adjust: 100%;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.calendars-container-7 {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  text-align: left;
  text-size-adjust: 100%;
  width: 674px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.calendar-days-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 0px;
  line-break: strict;
  line-height: 20px;
  margin-left: 9px;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.days-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-break: strict;
  line-height: 20px;
  padding-bottom: 0px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 0px;
  position: absolute;
  text-align: left;
  top: 62px;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.days-list {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 1px;
  margin-block-start: 1px;
  margin-bottom: 1px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1px;
  padding-inline-start: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.day {
  box-sizing: border-box;
  color: rgb(113, 113, 113);
  display: inline-block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 12px;
  font-weight: 600;
  height: auto;
  line-break: strict;
  line-height: 16px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  text-align: center;
  text-size-adjust: 100%;
  width: 43px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.calendars-container-8 {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  outline-color: rgb(34, 34, 34);
  outline-style: none;
  outline-width: 0px;
  text-align: left;
  text-size-adjust: 100%;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.arrow-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 0px;
  line-break: strict;
  line-height: 20px;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
  width: auto;
  z-index: 1;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.prev-arrow-container {
  bottom: -43px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  left: 37px;
  line-break: strict;
  line-height: 20px;
  position: absolute;
  text-align: left;
  text-size-adjust: 100%;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.prev-arrow-button {
  align-items: flex-start;
  appearance: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(34, 34, 34);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(34, 34, 34);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(34, 34, 34);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(34, 34, 34);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variation-settings: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: normal;
  line-break: strict;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: rgb(34, 34, 34);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  touch-action: manipulation;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: transform;
  transition-timing-function: ease;
  width: auto;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.prev-arrow-button::before {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  content: "";
  cursor: pointer;
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variation-settings: normal;
  font-weight: 400;
  height: 32px;
  left: 6px;
  letter-spacing: normal;
  line-break: strict;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  top: 6px;
  transform: matrix(1, 0, 0, 1, -16, -16);
  width: 32px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.prev-arrow-span {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  cursor: pointer;
  display: inline;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variation-settings: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: normal;
  line-break: strict;
  line-height: normal;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  width: auto;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.next-arrow-container {
  bottom: -43px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  position: absolute;
  right: 37px;
  text-align: left;
  text-size-adjust: 100%;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.next-arrow-button {
  align-items: flex-start;
  appearance: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(34, 34, 34);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(34, 34, 34);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(34, 34, 34);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(34, 34, 34);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variation-settings: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: normal;
  line-break: strict;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: rgb(34, 34, 34);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  touch-action: manipulation;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: transform;
  transition-timing-function: ease;
  width: auto;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.next-arrow-button::before {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  content: "";
  cursor: pointer;
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variation-settings: normal;
  font-weight: 400;
  height: 32px;
  left: 6px;
  letter-spacing: normal;
  line-break: strict;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  top: 6px;
  transform: matrix(1, 0, 0, 1, -16, -16);
  width: 32px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.next-arrow-span {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  cursor: pointer;
  display: inline;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variation-settings: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: normal;
  line-break: strict;
  line-height: normal;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  width: auto;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.calendar-lean-section {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 325px;
  line-break: strict;
  line-height: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  text-align: left;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: height;
  transition-timing-function: ease-in-out;
  width: 674px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.calendar-wide-section {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  left: 9px;
  line-break: strict;
  line-height: 20px;
  position: absolute;
  text-align: left;
  text-size-adjust: 100%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 1312px;
  z-index: 0;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.prev-month-section {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  min-height: 100%;
  opacity: 0%;
  pointer-events: none;
  position: absolute;
  text-align: left;
  text-size-adjust: 100%;
  vertical-align: top;
  visibility: hidden;
  width: auto;
  z-index: -1;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.current-month-section {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: inline-block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  min-height: 100%;
  text-align: left;
  text-size-adjust: 100%;
  vertical-align: top;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.month-container {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  padding-bottom: 0px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 0px;
  pointer-events: none;
  text-align: center;
  user-select: none;
  vertical-align: top;
  visibility: hidden;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.single-calendar-header-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  line-break: strict;
  line-height: 20px;
  padding-bottom: 49px;
  padding-top: 22px;
  pointer-events: none;
  text-align: center;
  text-size-adjust: 100%;
  user-select: none;
  visibility: hidden;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.date-arrow-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  line-break: strict;
  line-height: 20px;
  pointer-events: none;
  text-align: center;
  text-size-adjust: 100%;
  user-select: none;
  visibility: hidden;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.month-year {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  line-break: strict;
  line-height: 20px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  pointer-events: none;
  text-align: center;
  user-select: none;
  visibility: hidden;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.days-table {
  border-bottom-color: rgb(128, 128, 128);
  border-collapse: separate;
  border-left-color: rgb(128, 128, 128);
  border-right-color: rgb(128, 128, 128);
  border-top-color: rgb(128, 128, 128);
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: table;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  pointer-events: none;
  text-align: center;
  text-indent: 0px;
  text-size-adjust: 100%;
  user-select: none;
  visibility: hidden;
  width: auto;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 2px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.days-table-body {
  border-bottom-color: rgb(128, 128, 128);
  border-collapse: separate;
  border-left-color: rgb(128, 128, 128);
  border-right-color: rgb(128, 128, 128);
  border-top-color: rgb(128, 128, 128);
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: table-row-group;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  pointer-events: none;
  text-align: center;
  text-indent: 0px;
  text-size-adjust: 100%;
  user-select: none;
  vertical-align: middle;
  visibility: hidden;
  width: auto;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 2px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.table-row {
  border-bottom-color: rgb(128, 128, 128);
  border-collapse: separate;
  border-left-color: rgb(128, 128, 128);
  border-right-color: rgb(128, 128, 128);
  border-top-color: rgb(128, 128, 128);
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: table-row;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  pointer-events: none;
  text-align: center;
  text-indent: 0px;
  text-size-adjust: 100%;
  user-select: none;
  vertical-align: middle;
  visibility: hidden;
  width: auto;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 2px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.td1 {
  border-collapse: separate;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: table-cell;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  pointer-events: none;
  text-align: center;
  text-indent: 0px;
  text-size-adjust: 100%;
  user-select: none;
  vertical-align: middle;
  visibility: hidden;
  width: auto;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 2px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.td2 {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(34, 34, 34);
  border-bottom-right-radius: 4px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-collapse: separate;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(34, 34, 34);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(34, 34, 34);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(34, 34, 34);
  border-top-right-radius: 4px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  cursor: default;
  display: table-cell;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 81px;
  line-break: strict;
  line-height: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  pointer-events: none;
  position: relative;
  text-align: center;
  text-indent: 0px;
  user-select: none;
  vertical-align: middle;
  visibility: hidden;
  width: 83px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 2px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.td-div {
  border-right-style: solid;
  border-right-width: 1.5px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(176, 176, 176);
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 81px;
  justify-content: center;
  line-break: strict;
  line-height: 18px;
  margin-left: 1px;
  margin-right: 1px;
  pointer-events: none;
  position: relative;
  text-align: center;
  text-decoration-color: rgb(176, 176, 176);
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-indent: 0px;
  text-size-adjust: 100%;
  user-select: none;
  visibility: hidden;
  width: 81px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 2px;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-font-smoothing: antialiased;
} */

.top-border {
  border-top-color: rgb(221, 221, 221);
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 1px;
  line-break: strict;
  line-height: 20px;
  margin-bottom: 10px;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.nights-location-heading {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-break: strict;
  line-height: 26px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  -webkit-font-smoothing: antialiased;
}

.date-range-container {
  box-sizing: border-box;
  color: rgb(113, 113, 113);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-break: strict;
  line-height: 18px;
  padding-top: 8px;
  -webkit-font-smoothing: antialiased;
}

.date-range {
  box-sizing: border-box;
  color: rgb(113, 113, 113);
  display: -webkit-box;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-break: strict;
  line-height: 18px;
  -webkit-box-orient: vertical;
  -webkit-font-smoothing: antialiased;
  -webkit-line-clamp: 2;
}

.calendars-section {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.single-calendar-container {
  display: flex;
  flex-direction: column;
}

.single-calendar-header {
  display: flex;
  justify-content: center;
}

.days-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.header-left-arrow {
  left: 40px;
  position: absolute;
}

.header-right-arrow {
  align-self: flex-end;
}

.day {
  box-sizing: border-box;
  color: rgb(113, 113, 113);
  display: inline-block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 12px;
  font-weight: 600;
  height: auto;
  line-break: strict;
  line-height: 16px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  text-align: center;
  text-size-adjust: 100%;
  width: 43px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

table {
  border-bottom-color: rgb(128, 128, 128);
  border-collapse: separate;
  border-left-color: rgb(128, 128, 128);
  border-right-color: rgb(128, 128, 128);
  border-top-color: rgb(128, 128, 128);
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: table;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  pointer-events: none;
  text-align: center;
  text-indent: 0px;
  text-size-adjust: 100%;
  user-select: none;
  width: auto;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 2px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

tbody {
  border-bottom-color: rgb(128, 128, 128);
  border-collapse: separate;
  border-left-color: rgb(128, 128, 128);
  border-right-color: rgb(128, 128, 128);
  border-top-color: rgb(128, 128, 128);
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: table-row-group;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  pointer-events: none;
  text-align: center;
  text-indent: 0px;
  text-size-adjust: 100%;
  user-select: none;
  vertical-align: middle;
  width: auto;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 2px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

tr {
  border-bottom-color: rgb(128, 128, 128);
  border-collapse: separate;
  border-left-color: rgb(128, 128, 128);
  border-right-color: rgb(128, 128, 128);
  border-top-color: rgb(128, 128, 128);
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: table-row;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-break: strict;
  line-height: 20px;
  text-align: center;
  text-indent: 0px;
  text-size-adjust: 100%;
  user-select: none;
  vertical-align: middle;
  width: auto;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 2px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

td {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(34, 34, 34);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-collapse: separate;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(34, 34, 34);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(34, 34, 34);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(34, 34, 34);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  cursor: default;
  display: table-cell;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 42px;
  line-break: strict;
  line-height: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-size-adjust: 100%;
  vertical-align: middle;
  width: 44px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 2px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.past-day {
  align-items: center;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  border-collapse: separate;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: solid;
  border-left-width: 1.5px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: solid;
  border-right-width: 1.5px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-top-style: solid;
  border-top-width: 1.5px;
  box-sizing: border-box;
  color: rgb(176, 176, 176);
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 42px;
  justify-content: center;
  line-break: strict;
  line-height: 18px;
  margin-left: 1px;
  margin-right: 1px;
  position: relative;
  text-align: center;
  text-decoration-color: rgb(176, 176, 176);
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-indent: 0px;
  text-size-adjust: 100%;
  width: 42px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 2px;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-font-smoothing: antialiased;
}

.present-future-day {
  align-items: center;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  border-collapse: separate;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: solid;
  border-left-width: 1.5px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: solid;
  border-right-width: 1.5px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-top-style: solid;
  border-top-width: 1.5px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 42px;
  justify-content: center;
  line-break: strict;
  line-height: 18px;
  margin-left: 1px;
  margin-right: 1px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-size-adjust: 100%;
  width: 42px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 2px;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-font-smoothing: antialiased;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.clear-dates {
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
}

img {
  height: 20px;
  width: 25px;
  padding-left: 25px;
}