.body-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-break: strict;
  line-height: 20px;
  position: relative;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
