.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1120px;
  height: 480px;
  padding: 2rem;
  text-align: left;
  cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur);
  
}

.locationInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.locationInfo h2,
.locationInfo h3,
.locationInfo p,
.locationInfo span {
  font-size: large;
  font-weight: light;
}

.locationInfo span {
  font-weight: bold;
  font-size: larger;
  text-decoration-line: underline;
  cursor: pointer;
}
