.modal {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px 0px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  line-break: strict;
  line-height: 20px;
  max-height: 100%;
  max-width: 780px;
  overflow-x: clip;
  overflow-y: clip;
  position: relative;
  width: 780px;
  -webkit-font-smothing: antialiased;
}

.modal-button {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  left: 24px;
  line-break: strict;
  line-height: 20px;
  position: absolute;
  text-size-adjust: 100%;
  top: 24px;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
}

.close-button {
  align-items: flex-start;
  appearance: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-color: rgb(34, 34, 34);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(34, 34, 34);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(34, 34, 34);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(34, 34, 34);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  cursor: pointer;
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variation-settings: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-break: strict;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: rgb(34, 34, 34);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  touch-action: manipulation;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: transform;
  transition-timing-function: ease;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-font-smoothing: antialiased;
}

.modal-header {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  flex-basis: 72px;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  line-break: strict;
  line-height: 20px;
  position: sticky;
  text-align: left;
  text-size-adjust: 100%;
  top: 0px;
  z-index: -1;
  -webkit-box-flex: 0;
  -webkit-font-smoothing: antialiased;
}

.modal-body-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  line-break: strict;
  line-height: 20px;
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.modal-body {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.modal-body-title-div {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-break: strict;
  line-height: 26px;
  margin-bottom: 32px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.modal-body-title {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-break: strict;
  line-height: 26px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  -webkit-font-smoothing: antialiased;
}

.modal-amenity-body {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.modal-amenity-block {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-break: strict;
  line-height: 20px;
  margin-bottom: 48px;
  margin-top: -16px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.modal-amenity-title-div {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-break: strict;
  line-height: 22px;
  margin-bottom: 0px;
  padding-bottom: 16px;
  padding-top: 16px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.modal-amenity-title {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-break: strict;
  line-height: 22px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.modal-amenity-div-block {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.modal-amenity-div {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-break: strict;
  line-height: 20px;
  padding-bottom: 24px;
  padding-top: 24px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.modal-amenity-inner-div {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.modal-amenity-icon-div {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-break: strict;
  line-height: 20px;
  margin-right: 16px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.modal-amenity-text-div {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 673.142px;
  -webkit-font-smoothing: antialiased;
}
