.reviews-section {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 935px;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 1324px;
  -webkit-font-smoothing: antialiased;
}

/* .overall-section::before {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  content: "";
  display: flex;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 0px;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 1324px;
  -webkit-font-smoothing: antialiased;
} */

.group-section {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 935px;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 1324px;
  -webkit-font-smoothing: antialiased;
}

.component-container {
  align-items: stretch;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  flex-wrap: wrap;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 935px;
  justify-content: flex-start;
  line-break: strict;
  line-height: 20px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 80px;
  padding-right: 80px;
  width: 1324px;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  -webkit-font-smoothing: antialiased;
}

.component-subcontainer-1 {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 935px;
  line-break: strict;
  line-height: 20px;
  margin-left: 22px;
  margin-right: 22px;
  max-width: 1120px;
  text-size-adjust: 100%;
  width: 1120px;
  -webkit-font-smoothing: antialiased;
}

.top-border {
  border-top-color: rgb(221, 221, 221);
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 1px;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 1120px;
  -webkit-font-smoothing: antialiased;
}

.component-subcontainer-2 {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 934px;
  line-break: strict;
  line-height: 20px;
  padding-bottom: 48px;
  padding-top: 48px;
  text-size-adjust: 100%;
  width: 1120px;
  -webkit-font-smoothing: antialiased;
}

.lean-section {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 838px;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 1120px;
  -webkit-font-smoothing: antialiased;
}

.title-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 22px;
  font-weight: 600;
  height: 26px;
  line-break: strict;
  line-height: 26px;
  margin-bottom: 32px;
  text-size-adjust: 100%;
  width: 1120px;
  -webkit-font-smoothing: antialiased;
}

.star-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: inline-flex;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 22px;
  font-weight: 600;
  height: 16px;
  line-break: strict;
  line-height: 26px;
  margin-right: 8px;
  text-size-adjust: 100%;
  width: 16px;
  -webkit-font-smoothing: antialiased;
}

.rating-reviews {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: inline-flex;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 22px;
  font-weight: 600;
  height: 26px;
  line-break: strict;
  line-height: 26px;
  text-size-adjust: 100%;
  width: 164.672px;
  -webkit-font-smoothing: antialiased;
}

.section-header {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: inline-flex;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 22px;
  font-weight: 600;
  height: 26px;
  line-break: strict;
  line-height: 26px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  width: 164.672px;
  -webkit-font-smoothing: antialiased;
}

/* .rating-reviews-text {
    border-bottom-color: rgb(34, 34, 34);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(34, 34, 34);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(34, 34, 34);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(34, 34, 34);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(100%);
    color: rgb(34, 34, 34);
    display: block;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
    font-size: 22px;
    font-weight: 600;
    height: 1px;
    line-break: strict;
    line-height: 26px;
    overflow-x: clip;
    overflow-y: clip;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    -webkit-font-smoothing: antialiased;
} */

.rating-reviews-text {
  border-bottom-color: rgb(34, 34, 34);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(34, 34, 34);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(34, 34, 34);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(34, 34, 34);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 22px;
  font-weight: 600;
  height: 1px;
  line-break: strict;
  line-height: 26px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  white-space: nowrap;
  width: 1px;
  -webkit-font-smoothing: antialiased;
}

.attributes-section {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 108px;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 1120px;
  -webkit-font-smoothing: antialiased;
}

.attributes-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 108px;
  line-break: strict;
  line-height: 20px;
  margin-bottom: 24px;
  text-size-adjust: 100%;
  width: 1120px;
  -webkit-font-smoothing: antialiased;
}

.attributes-lean-container {
  align-items: stretch;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  flex-wrap: wrap;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 108px;
  justify-content: flex-start;
  line-break: strict;
  line-height: 20px;
  margin-left: -8px;
  margin-right: -8px;
  width: 1136px;
  -webkit-font-smoothing: antialiased;
}

.attribute-container-1 {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 36px;
  line-break: strict;
  line-height: 20px;
  margin-left: 0px;
  margin-right: 94.6641px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  width: 473.328px;
  -webkit-font-smoothing: antialiased;
}

.attribute-container-2 {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  line-break: strict;
  line-height: 20px;
  margin-bottom: 16px;
  text-size-adjust: 100%;
  width: 457.328px;
  -webkit-font-smoothing: antialiased;
}

.attribute-rating-container {
  align-items: center;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  justify-content: space-between;
  line-break: strict;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 457.328px;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -webkit-font-smoothing: antialiased;
}

.attribute {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  line-break: strict;
  line-height: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  text-size-adjust: 100%;
  white-space: nowrap;
  width: 296.883px;
  -webkit-font-smoothing: antialiased;
}

.rating-container {
  align-items: center;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  flex-direction: row;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  line-break: strict;
  line-height: 20px;
  margin-left: 12px;
  text-size-adjust: 100%;
  width: 148.445px;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-font-smoothing: antialiased;
}

.rating-slider-container {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(221, 221, 221);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 4px;
  line-break: strict;
  line-height: 20px;
  margin-right: 4px;
  position: relative;
  width: 121.617px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.rating-slider {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(34, 34, 34);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
      sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 4px;
    left: 0px;
    line-break: strict;
    line-height: 20px;
    position: absolute;
    text-size-adjust: 100%;
    top: 0px;
    width: 121.617px;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.attribute-rating {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
      sans-serif;
    font-size: 12px;
    font-weight: 600;
    height: 16px;
    line-break: strict;
    line-height: 16px;
    margin-left: 6px;
    text-size-adjust: 100%;
    width: 16.8281px;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}