.NavBar {
    border: 5px solid black;
    display: flex;
}

.logo {
    border: 3px solid red;
}

.chairbnbLogo {
    max-width: 50px;
    max-height: 50px;
}

.searchButtonContainer {
    border: 3px solid blue;
}

.searchBarButton {
    background: transparent;
    cursor: pointer;
    top: 20px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
    color: #222222;
    font-size: 14px;
    font-weight: 600;
    display: flex;
}

.littleSearchLabel {
    padding-right: 50px;
}

.littleSearchCircle {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ff385c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.magnifyingGlass {
    display: block;
    width: 55%;
    height: auto;
    object-fit: cover;
    /* max-width: 15px;
    max-height: 15px; */
}

.AyhPlusGlobeContainer {
    border: 3px solid green;
}

.globe {
    height: 30px;
    width: 30px; 
}

.userContainer {
    border: 3px solid yellow;
}

.hamburger {
    height: 20px;
    width: 20px;
}

.person {
    height: 25px;
    width: 25px;
}